.footer {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: #26272b;
  padding: 45px;
  font-size: 15px;
  //line-height: 24px;
  color: #737373;
  //bottom: 0;
  width: 100%;
  z-index: 0;
}

.show-footer {
  display: block;
}

.footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.footer hr.small {
  margin: 20px 0;
}

.footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.footer a {
  color: #737373;
}

.footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.container {
  display: flex;
  flex-direction: column;
  min-heigth: auto;
  width: 100%;
  padding: 10vh;
}

.row {
  display: flex;
  flex-direction: row;
  //padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.text-justify {
  width: 100vh;
}

.redeS {
  display: flex;
  flex-direction: row;
  padding: 25px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.copyright-text {
  margin: 0;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #484d4f;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
