<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<footer class="footer">

  <div class="container">
        <div class="row">
          <div class="col-sm-6 col">
            <h6>About</h6>
            <p>Este site tem por finalidade tornar mais facil as interações dos campeonatos do FIFA</p>
          </div>
          <div class="col-sm-3 col">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Sobre nós</a></li>
              <li><a href="#">Trabalhe conosco</a></li>
              <li><a href="#">Termo e Privacidade</a></li>
              <li><a href="#">Termo Marktplace</a></li>
            </ul>
          </div>
          <div class="col-sm-3 col">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>

        <div class="containerRedeSocial">
          <div class="redeS">
                  <div>
                      <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
                          <a href="#">Campeonato FIFA PS4</a>.
                      </p>
                  </div>
  
                  <div>
                      <ul class="social-icons">
                          <li><a class="facebook" href="#"><i class="fa-brands fa-facebook fa-fade" style="color: #ffffff;"></i></a></li>
                          <li><a class="twitter" href="#"><i class="fa-brands fa-twitter fa-fade" style="color: #ffffff;"></i></a></li>
                          <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin fa-fade" style="color: #ffffff;"></i></a></li>   
                      </ul>
                  </div>
          </div>
      </div>

      </div>
    
</footer>
<!-- <canvas class="background"></canvas> -->