<%- include ('./partials/header.ejs'); -%>
<%- include ('./partials/nav-bar.ejs'); -%>

<body>

  <div class="container-main">
    <div class="container">
      <hr />
      <h2 id="classificationTable" class="title-classification text-center text-sm-center smaller-title">Classificação</h2>
      <hr />
      <div class="table-responsive-sm">
        <table class="table table-bordered" id="tableClassification">
          <thead class="table-dark text-center">
            <tr>
              <th class="text-center">Time</th>
              <th class="text-center">Jogador</th>
              <th class="text-center">P</th>
              <th class="text-center">V</th>
              <th class="text-center">E</th>
              <th class="text-center">D</th>
              <th class="text-center">GP</th>
              <th class="text-center">GC</th>
              <th class="text-center">SG</th>
            </tr>
          </thead>
          <tbody id="classificationList" class="text-center"></tbody>
        </table>
      </div>
    </div>
    <% include ('./partials/footer.ejs'); %>
  </div>

</body>

<script src="../js/classification.js"></script>

</html>